h3{
    margin-left: 10px;
    color: white;
}
.btnnav{
    color: white;
    border-color: white;    
    margin: 5px;
}
.btnnav:hover{
    background-color: darkgrey;
    border-color: white;
}
.navport{
    background-color: black !important;   
}

.container {
    width: 90vw;
    height: 90vh;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 300px;
    height: 300px;    
}